*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow:hidden;
  font-family:Arial, sans-serif;
}

/* ÁREA DO JOGO */

.game{
  width:100%;
  height:100vh;

  position:relative;

  background:
  linear-gradient(to top, #59b35a 35%, #87CEEB 35%);
}

/* HUD */

.hud{
  position:absolute;
  top:20px;
  left:20px;

  background:rgba(0,0,0,0.5);

  padding:20px;

  border-radius:20px;

  color:white;

  z-index:1000;
}

.hud h2{
  margin-bottom:15px;
}

.info{
  margin:10px 0;
}

button{
  width:100%;

  margin-top:10px;

  padding:12px;

  border:none;

  border-radius:10px;

  background:#7CFC00;

  cursor:pointer;

  font-weight:bold;

  transition:0.3s;
}

button:hover{
  background:#98ff4d;
}

/* SOL */

.sun{
  width:120px;
  height:120px;

  background:#FFD93D;

  border-radius:50%;

  position:absolute;
  top:50px;
  right:100px;

  box-shadow:0 0 80px #FFD93D;
}

/* CASA */

.house{
  position:absolute;
  bottom:180px;
  left:120px;
}

.roof{
  width:0;
  height:0;

  border-left:90px solid transparent;
  border-right:90px solid transparent;
  border-bottom:90px solid #b22222;
}

.base{
  width:180px;
  height:140px;

  background:#f5deb3;

  position:relative;
}

.door{
  width:50px;
  height:80px;

  background:#8b4513;

  position:absolute;
  bottom:0;
  left:65px;
}

/* ÁRVORES */

.tree{
  position:absolute;
  bottom:170px;
}

.leaf{
  width:90px;
  height:90px;

  background:green;

  border-radius:50%;
}

.trunk{
  width:20px;
  height:70px;

  background:#8b4513;

  margin:auto;
}

.tree1{
  left:500px;
}

.tree2{
  left:650px;
}

/* CAMPO */

.field{
  position:absolute;

  bottom:50px;
  left:50%;

  transform:translateX(-50%);

  width:80%;
  height:140px;

  background:#8B5A2B;

  border-radius:20px;

  display:grid;
  grid-template-columns:repeat(12, 1fr);

  gap:10px;

  padding:15px;
}

.plant{
  background:#7CFC00;

  border-radius:10px;

  align-self:end;

  animation:grow 2s infinite alternate;
}

@keyframes grow{

  from{
    height:30px;
  }

  to{
    height:80px;
  }

}

/* PERSONAGEM */

.player{
  position:absolute;

  bottom:220px;
  left:50%;

  font-size:60px;

  transition:0.1s linear;
}