* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f5f5;
  color: #222;
}

/* HERO */

.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6')
    center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
  font-size: 4rem;
  color: white;
}

.overlay p {
  color: white;
  margin: 20px 0;
  font-size: 1.3rem;
}

.btn {
  background: #2e7d32;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
}

/* SECTIONS */

section {
  padding: 80px 10%;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #2e7d32;
}

/* CARDS */

.cards,
.grid,
.posts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card,
.box,
.post {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
  color: #2e7d32;
  font-size: 2rem;
}

/* COMPARAÇÃO */

.compare-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.compare-container img {
  width: 400px;
  border-radius: 10px;
}

/* CALCULADORA */

.calc-box {
  text-align: center;
}

.calc-box input {
  padding: 12px;
  width: 250px;
}

.calc-box button {
  padding: 12px 20px;
  border: none;
  background: #2e7d32;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#resultado {
  margin-top: 20px;
  color: #2e7d32;
}

/* GRÁFICO */

.chart-section {
  background: white;
}

/* TIMELINE */

.timeline {
  background: #e8f5e9;
}

.timeline-item {
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-left: 5px solid #2e7d32;
  width: 70%;
}

/* FOOTER */

footer {
  background: #1b5e20;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVO */

@media(max-width: 768px) {

  .overlay h1 {
    font-size: 2.5rem;
  }

  .compare-container img {
    width: 100%;
  }

}